<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>I know you desire this music NOW</title>
<link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<h1>
Select Your Feeling
</h1>
    <select name="feelings">
        <option value="AMAZING">AMAZING</option>
        <option value="NOT BAD">NOT BAD</option>
        <option value="BETTER">BETTER</option>
        <option value="GOOD">GOOD</option>
        <option value="TIRED">TIRED</option>
        <option value="SICK">SICK</option>
        <option value="BAD">BAD</option>
        <option value="VERY BAD">AMAGING</option>
    </select>
</body>
</html>
